/* *{
    margin:0px;
    padding:0px;
    font-family: segoe ui;
    opacity: .7s;
}


.container1{
    width:100%;
    min-height: 100vh;
    display: flex;
}

.left{
    width: 20%;
    height: 100vh;
    border: 1px solid black;
    font-size: 9px;
    background-color: black !important;
    overflow: hidden;
}


.right{
    width: 80%;
    height: 100vh;

}


.image{
    width: 100%;
    height: 35vh;
}

.image img{
    width: 100%;
    height: 100%;
    margin-top: -120px;
}

.listss{
    width: 100% !important;
    height: 15vh;
    margin-top: -150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.listss li{
    width:100% ;
    margin-bottom: 4px;
    height: 30px;
    padding: 5px;
    color:white;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 10px;
    font-weight: 300;
    font-size: 17px;
    text-align: center;
    border-bottom: 1px solid lightgray !important;
    }

.listss li:hover{
    opacity: .7;
    cursor: pointer;
    font-size: 18px;
}

hr{
    background-color:white;
}



.plus{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10%;
    right: 20px;
    background-color: black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus:hover{
    box-shadow: 0px 0px 4px 10px lightgray;
    cursor: pointer;
}

.modallll{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    display:none;
    align-items: center;
    justify-content: start;

}

.modal_child{
    width: 50%;
    padding:20px;
    border-radius: 10px;
    background-color: white;
    margin-left: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    position: relative;

}

.modal_child input{
    width: 90%;
    padding:5px 0px;
    text-indent: 20px;
    border: none;
    border: 1px solid lightgray;
    border: none;
    border: 1px solid lightgray;
}

textarea{
    width: 90%;
    height: 150px;
    text-indent: 0px;
    font-size: 12px;
    padding: 5px;
}

.modal_child button{
    width: 50%;
    background-color: black;
    color:white;
    border:none;
    padding: 10px;
    border-radius: 10px;
}

.modal_child button:hover{
   opacity: 0.9;
}
.modal_child button:active{
   opacity: 0;
   background-color: white;
    color:black;

}



select{
    padding: 5px 0px;
    font-size:13px;
    width: 90%;
    border:1px solid lightgray;

}

table{
    width: 90%;
    padding:10px;
    border:20px;
    font-size: 13px;
}

table:hover{
    cursor: pointer;
}


.viewpop{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

label{
    align-self: self-start;
    margin-left:30px;
    font-size: 11px;
    margin-bottom: -10px;
}


input::placeholder{
    font-size: 13px;
}



.closesss{
    font-size: 13px;
    color:gray;
    transition: .3s;
    margin-left: 5px;
}


.closesss:hover{
    opacity: .8;
    font-size: 17px;
}


.blue{
    color:lightslategrey;
    transition: .3s;
}

.blue:hover{
    opacity: .8;
    font-size: 17px;
}

td{
    padding:2px 0px;
}

.endingtime{
    background-color: olivedrab !important;
    color:white;
} */


.card_pop{
    color: white;
    border:none;
}
 */

 main{
    display: flex;
}

main{
    display: flex;
}

.flex{
    flex-direction: column;
    display: flex;
}

table{
    width: 100% !important;
}

.toast_message{
    display: flex;
    width: 50%;
}


.modallll{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    display:none;
    align-items: center;
    justify-content: start;
    z-index: 500;

}

.modal_child{
    width: 50%;
    padding:20px;
    border-radius: 10px;
    background-color: white;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    position: relative;
    z-index: 400;


}

.modal_child input{
    width: 90%;
    padding:5px 0px;
    text-indent: 20px;
    border: none;
    border: 1px solid lightgray;
    border: none;
    border: 1px solid lightgray;
}

textarea{
    width: 90%;
    height: 150px;
    text-indent: 0px;
    font-size: 12px;
    padding: 5px;
}

.modal_child button{
    width: 50%;
    background-color: black;
    color:white;
    border:none;
    padding: 10px;
    border-radius: 10px;
}

.modal_child button:hover{
   opacity: 0.9;
}
.modal_child button:active{
   opacity: 0;
   background-color: white;
    color:black;

}


select{
    padding: 5px 0px;
    font-size:13px;
    width: 90%;
    border:1px solid lightgray;

}

form{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 15px;
    position: relative;
}

.close{
    position: absolute;
    right:0;
    top:0;
    color:red;
    font-size: 30px;
}

label{
    align-self: self-start;
    margin-left:30px;
    font-size: 11px;
    margin-bottom: -10px;
}


input::placeholder{
    font-size: 13px;
}

table{
    width: 100% !important;
}


.icon{
    position: relative;
    top: 20px;
    left: 100px;
}

.time{
    position: relative;
    top: 30px;
    left: 70px;
}

.dump{
    position: relative;
    bottom: 100px;
    right:25px;
}

.secondary{
    position: relative;
    right: 13px;
    
}
.top{
    position: relative;
    right: 9px;
}



.sel{
    margin-top: 50px;
    width: 100%;
}

.closesss{
    margin-left: 30px;
}