
main{
    display: flex;
}

.flex{
    flex-direction: column;
    display: flex;
}

table{
    width: 100% !important;
}

.icon{
    position: relative;
    top: 20px;
    left: 100px;
}

.time{
    position: relative;
    top: 30px;
    left: 70px;
}

.dump{
    position: relative;
    bottom: 100px;
    right:25px;
}

.secondary{
    position: relative;
    right: 13px;
    
}
.top{
    position: relative;
    right: 9px;
}
